@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

 * {
    font-family: "Sora", sans-serif;
     box-sizing: border-box;
     padding: 0;
     margin: 0;


}



.main {

    padding: 40px 0;
    width: 100%;
    background-image: url("imagens/rollingloud.jpg");
    background-color: #1c1c1c;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 400px;

}

.boxindex {

    text-align: center;
    background:lightgray;
    padding: 2em;
    box-shadow: 20px 20px 20px;
    margin-bottom: 200px;
    border-radius: 30px;
}


.title {
    text-align: center;
    margin-top: 30px;
}

.content {

    color: white;

}

a:hover {
    text-decoration: none;
    text-underline: none;
}

.testemaximo{
    margin-bottom: 0;
}

.titulos {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

.botaosignup {

    border-radius: 20px;
    background: #256ce1;
    padding: 10px 22px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;

}

.botaoindex {

    text-decoration: none;
    color: white;

}

.botaoindex:hover {
    text-decoration: none;
    color: white;
}

.botaosignup:hover {
    background-color: steelblue;
}

.botaosignup:disabled {
    background-color: #545b62 ;
}


.trendingtitulo {

    margin-top: 50px;
    margin-left: 50px;

}

.trending {

    text-align: center;
    background:white;
    padding: 2em;
    box-shadow: 20px 20px 20px;
    margin-bottom: 200px;
}

.musicastrend {
    text-decoration: none;
    color: black;



}

.musicastrend:hover {
    text-decoration: none;
    color: black;
    text-underline: none;
}



.genres {
    align-items: center;
    display: flex;
    justify-content: center;

}

.imagemMaster{
    padding-top: 150px;
    width: 100%;
}

.imagemMaster3{
    padding-top: 200px;
    width: 100%;
}

.imagemMaster2{
    width: 450px;
    height: auto;
}

.justo{
    justify-content: center;
}