@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

 * {
    font-family: "Sora", sans-serif;


}

.testemaximo{
    margin-bottom: 0;
}

.titulos {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

.conteudo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.genres {
    align-items: center;
    display: flex;
    justify-content: center;

}

.imagemMaster{
    padding-top: 150px;
    width: 100%;
}

.imagemMaster3{
    padding-top: 200px;
    width: 100%;
}

.imagemMaster2{
    width: 450px;
    height: auto;
}

.justo{
    justify-content: center;
}